* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    background-image: url('/js/asset/img/background2.jpeg');
    color: #2b2b2b;
}




.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}