



/*list*/

.mail-list{
    justify-content: center;
}

li{
list-style: none;
}


/* Preview*/

.mail-preview{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 750px;
    border: 2px solid rgb(224, 220, 220);
    margin-bottom: 2.5px;
    transition: 0.2s;
    
}


.itemsub{
    padding-left: 10px;
}
.itemuser{
  
}
.fas .fa-trash-alt{
    padding-left: 20px;
}
.longTxt{
    width: 300px;
}


.mailRead{
    background-color: rgb(177, 174, 174);
}

.mailUnRead{
    background-color: honeydew;
}


.mail-preview:hover{
    filter: grayscale(50%);
    transform: scale(1.05);
}

.mail-preview img{
    z-index: 1;
    width: 30px;
    height: 30px;
}
.mail-preview button{
    z-index: 3;
    left: 0;
    
}



