


/* Preview*/

.mail-preview{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    border: 2px solid black;
    border-radius: 10px;
 
     margin-bottom: 2.5px;
}

.mailRead{
    background-color: rgb(177, 174, 174);
}


/* .mail-preview */

